
 

 <form action="/admin/categoryregister" method="post" role="form" enctype="application/x-www-form-urlencoded " id="registration">
              <legend>For New Caategory</legend>

              <div class="form-group">
                  <label for="first_name">CategoryName</label>
                  <input type="text" class="form-control" name="categoryname" id="name" placeholder=" Name" required >
              </div>

                <div class="form-group">
                  <label for="first_name">CategoryName2</label>
                  <input type="text" class="form-control" name="CategoryName" id="name" placeholder=" Name" required >
              </div>
              


    


              <button type="submit" class="btn btn-dark d-block mx-auto mt-3">Confirm</button> 
              
              
              </form>

