  {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script> --}}


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >
     &nbsp;  Black &nbsp; &nbsp; Admin Panel</span></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class=" text-nowrap">
      <a class="btn btn-dark px-3" href="/admin/logout">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/userdetails">
              <span data-feather="file"></span>
              User Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <span data-feather="shopping-cart"></span>
              Category Managment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/product-Managment">
              <span data-feather="users"></span>
              Product Managment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon-Managment">
              <span data-feather="bar-chart-2"></span>
              Coupen Managment
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/admin/banner-Manage">
              <span data-feather="layers"></span>
              Banner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
              <span data-feather="layers"></span>
              Orders
            </a>
          </li>
        </ul>

        {{!--  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li> --}}
        </ul>
      </div>
    </nav>