{{!-- ReGiStEr --}}



<section class="vh-100 gradient-custom ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-mute text-white" style="border-radius: 1rem; width: 40rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-1 mt-md-2 pb-1">
                  <div class="container d-flex justify-content-center  ps-5">
       <div class="blacklogo"> <a href="/user-home"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="250" height="90" viewBox="-30 20 900.000000 260.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,193.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M4005 1546 c-145 -28 -259 -90 -354 -191 -135 -145 -186 -338 -146
-560 39 -220 202 -386 440 -451 93 -25 349 -31 454 -9 79 16 247 67 258 79 7
7 -17 66 -27 66 -4 0 -28 -11 -53 -25 -126 -71 -388 -97 -549 -56 -214 55
-362 194 -412 388 -21 79 -21 250 -1 328 34 131 111 243 210 300 159 93 414
107 639 35 49 -16 93 -27 97 -25 4 3 12 19 18 35 13 37 10 39 -139 70 -133 27
-338 35 -435 16z"/>
<path d="M235 1513 c4 -21 9 -263 11 -538 4 -391 2 -517 -9 -577 l-13 -78 182
0 c273 0 386 21 495 91 154 98 183 344 55 456 -58 52 -101 71 -220 98 l-29 6
49 23 c111 53 183 150 191 260 10 119 -38 201 -145 249 -80 36 -165 47 -386
47 l-188 0 7 -37z m405 -24 c86 -14 142 -48 177 -107 24 -41 28 -57 28 -127 0
-89 -12 -120 -66 -173 -71 -69 -219 -110 -351 -98 l-78 8 0 239 0 239 23 5
c114 26 176 29 267 14z m100 -588 c78 -24 145 -77 171 -135 23 -51 25 -159 4
-210 -56 -133 -238 -205 -452 -178 -52 7 -99 15 -104 18 -5 3 -9 122 -9 264
l0 259 23 5 c12 2 85 3 162 1 107 -2 155 -8 205 -24z"/>
<path d="M1347 1503 c11 -63 10 -1086 0 -1141 l-9 -42 368 2 368 3 13 44 12
44 -47 -7 c-207 -26 -519 -32 -575 -11 -16 7 -17 41 -17 504 0 431 4 531 23
635 1 7 -24 12 -71 14 l-73 3 8 -48z"/>
<path d="M2550 1006 c-133 -300 -261 -577 -285 -616 l-44 -70 67 0 68 0 10 68
c8 43 35 120 79 220 l68 152 271 0 272 0 61 -147 c67 -159 83 -210 83 -260 l0
-33 80 0 c44 0 80 3 80 6 0 4 -15 32 -34 63 -19 31 -123 265 -231 521 -270
637 -268 634 -286 638 -12 2 -73 -126 -259 -542z m370 80 c60 -143 108 -261
106 -263 -2 -2 -112 -2 -244 -1 l-241 3 103 230 c56 127 113 253 125 280 20
44 24 48 32 30 5 -11 59 -137 119 -279z"/>
<path d="M4917 1488 c10 -81 11 -1035 0 -1110 l-8 -58 71 0 72 0 -7 28 c-4 15
-9 155 -12 312 -4 281 -4 285 15 265 11 -11 130 -139 266 -285 382 -409 465
-483 590 -522 47 -15 80 -19 141 -15 84 5 185 31 185 48 0 7 -19 41 -57 98 -1
2 -13 -6 -28 -17 -88 -70 -238 -39 -365 75 -30 26 -190 192 -357 368 l-304
320 169 165 c93 91 213 203 267 250 54 47 112 97 129 112 l31 27 -77 1 c-77 0
-78 0 -94 -32 -17 -33 -410 -437 -477 -490 l-39 -31 5 244 c3 134 8 259 12
277 l7 32 -72 0 -72 0 9 -62z"/>
</g>
</svg></a>  </div>
  </div>

        <form action="/register" method="post"   id="registration" name="registration">
                <h1 class="text-dark">Create Account</h1>

                <div class="form-group">
                    <label for="first_name">FirstName</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder=" FirstName" >
                </div>

                 <div class="form-group">
                    <label for="first_name">LastName</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="LastName" >
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email " >
                </div>

                	<div class="form-group">
                    <label for="last_name">Mobile</label>
                    <input type="number" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"  >
                </div>

                 <div class="form-group">
                    <label for="pw"> Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Password"  >
                </div>
               
               <button type="submit" class="btn btn-light d-block mx-auto mt-3">Confirm</button>
            </form>

            

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>





			
		
		   </div>



 

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

           <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
<script>

    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "Letters only please");

    $.validator.addMethod("noCaps", function (value, element) {
        return this.optional(element) || !/[A-Z]/.test(value);
    }, "email can't have upper case letters");

  $(document).ready(function(){
        $("#registration").validate({
            rules: {
                firstname: {
                    required: true,
                    lettersonly: true
                },
                lastname: {
                    required: true,
                    lettersonly: true
                },
                email: {
                    email: true,
                    required: true,
                    noCaps: true
                },
                mobile: {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 10,

                },
                password: {
                    minlength: 8,
                    required: true,

                },
                confirmpassword: {
                    equalTo: "#password",
                    required: true
                },
            },
            messages: {
                confirmpassword: {
                    equalto: "passwords does not match"
                }

            }
       })
    })

</script>

         
